.footer {
  display: block;
  width: 100%;
  background-color:  var(--page-background);
  overflow: hidden;
  text-align: center;
  font-size: var(--body-overpass-base-size);
  color: var(--white);
  font-family: var(--body-overpass-base);
}

.footerContainer {
  background-color: var(--page-background);
  color: var(--white);
  padding-top: 1rem;
  justify-content: space-evenly;
}

.footerSections {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-self: stretch;
}

.footerSectionPageItem{
  padding: 0.5rem;
}

.footerSocials {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 0.5rem;
}

.footerSocialsItem {
  padding: 1rem;
  color: transparent;
  background-color: transparent;
  border: none;
  width: auto;
}
.footerlogo{
  height: 3vh;
}


.footerEmail {
  color: var(--icon-color, #FFF);
  text-align: center;
  font-family: "Overpass Mono";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 200% */
  padding-bottom: 1rem;
}