@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@100;200;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100;200;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Square:wght@100;200;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@100;200;300;400;500;600;700;800&family=Nova+Square&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700&display=swap");

/* html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
} */

html,
body {
  /* overflow-x: hidden makes header not stick to the top w/o height: 100% and overflow-y: auto*/
  overflow-x: hidden;

  /* height: 100% and overflow-y: auto helps no-scrollbar style to work */
  height: 100%;
  /* min-height: 100vh; */
  overflow-y: auto;
}

body {
  margin: 0;
  line-height: normal;
  background: var(--page-background) !important;
}

:root {
  /* fonts */
  --title-lexend-large: "Lexend Exa";
  --body-overpass-base: "Overpass Mono";

  /* font sizes */
  --title-lexend-medium-size: 1.125rem;
  --title-lexend-large-size: 1.5rem;
  --body-overpass-base-size: 1rem;
  --font-size-xs: 0.75rem;

  /* Colors */
  --page-background: #2d2c5f; /* --blue */
  --page-accent-gray: #242424; /* --gray */
  --white: #fff;
  --lilac: #f1dbfc;
  --icon-color: #fff;
  --purple-accent: #d5a6ed;
  --discography-background: #543f60;

  --header-background: linear-gradient(
    180deg,
    #2d2c5f 80.9%,
    rgba(45, 44, 95, 0) 100%
  );
  --discography-gradient: linear-gradient(
    180deg,
    #543f60 80.9%,
    rgba(45, 44, 95, 0) 100%
  );

  /* Border radiuses */
  --br-8xs: 5px;
}
