.gallerypage {
    width: 100%;
    background-color:#232323;
    overflow: hidden;
    text-align: center;
    font-size: var(--body-overpass-base-size);
    color: var(--white);
    font-family: var(--body-overpass-base);
    min-height: 100vh;
}

.titleContainer {
    background: rgba(36, 36, 36, 0.5); /* Semi-transparent background */
    position: relative;
    height: 12rem;
    z-index: 0; /* Ensure div1 content is below the gradient */
    overflow: hidden;
  }

.gradientOverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%; /* Adjust this to control how much of div1 is covered */
    background: linear-gradient(0deg, rgba(36, 36, 36, 1) 5.72%, rgba(36, 36, 36, 0.5) 80.07%, rgba(36, 36, 36, 0) 100%);
    /* background-color: #002ead; */
    z-index: 1; /* Place the gradient below the content */
  }

.titleText{
    position: absolute;
    width: 100%;
    bottom: 10px; 
    z-index: 1;
    display: flex;
    justify-content: center;
    color: var(--icon-color, #FFF);
    text-align: center;
    /* title/lexend xlarge */
    font-family: "Lexend Exa";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    z-index: 2;
}

.gallerySearchContainer{
    width: auto;
    height: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    background-color: #232323;
    justify-content: space-around;
    color: #B2B2B2;
    font-family: "Overpass Mono";
    font-size: var(--body-overpass-base-size);
    font-style: normal;
    font-weight: 500;
}

.gallerySearchItem {
    display: flex;
    justify-content: left;
    width: 100%;
    height: 1.5rem;
    align-items: center;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

::placeholder {
    color: #B2B2B2;
}

.gallerySearchItem input{
    background: transparent;
    width: 75%;
    flex: 1;
    border: 0;
    outline: none;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    /* padding: 0.5rem 0.25rem; */
    color: #B2B2B2;
    font-family: "Overpass Mono";
}

.gallerySearchItem button img {
    width: 1rem;
}

.gallerySearchItem button {
    background: transparent;
    border: 0;
    width: 2rem; 
    height: 2rem;
    outline: #FFF;
    cursor: pointer;
    padding-top: 0.25rem;
    align-content: right;
}

.selected {
    z-index: 100;
}

.not-selected {
    z-index: -100;
}

.galleryDisplayMode {
    display: flex;
    flex-direction: column;
    background-color: #232323;
    color: white;
    justify-content: flex-start;
}


.galleryDisplayModeContainter {
    display: flex;
    flex-direction: row;
    color: var(--icon-color, #FFF);
    background-color: #232323;
    /* title/lexend base */
    font-family: "Lexend Exa";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    justify-content: space-evenly;
    /* background-color: aliceblue; */
    padding-top: 1rem;
    margin-bottom: 0;
}

.galleryDisplayModeItem {
    width: 25%;
    color: white;
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;
}

hr {
    color: white;
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    width: 90%;
    align-self: center;
    border-top: none;
    /* margin: 1em auto; */
}

.imageGridArt{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 0.5rem;
    grid-column-gap: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: center;
    width: 93%; 
    /* background-color: #d5a6ed; */
    align-self: center;
}

.artImage {
    object-fit: cover;
    width: 12rem;
    height: 10rem;
    flex-shrink: 0;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.imageGridCover {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: center;
    width: 93%; 
    /* background-color: #d5a6ed; */
    align-self: center;
}

.coverImageAndText {
    font-family: "Lexend Exa";
    font-size: 19px;
    font-weight: bold;
}

.coverImage {
    object-fit: cover;
    width: 19rem;
    flex-shrink: 0;
    border-radius: 10px;
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
    background: none; /* Remove the background property or set it to none */
    margin: 0; /* Ensure there is no margin around the image */
    padding: 0; /* Ensure there is no padding around the image */
    /* background: lightgray  */
}

.menuContainer{
    width: 350px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuTitle{
    position: absolute;
    height: 100%;
    width: 83.14%;
    right: 8.57%;
    left: 8.29%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

}

.musicCoverMenuTitleText{
    background-color: transparent;
    background: transparent;
    border: 0;
    border-radius: 10px;
    color: var(--icon-color, #FFF);
    font-family: "Lexend Exa";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    justify-content: center;
    /* background-color: aqua; */
}

.musicCoverMenuTitleText:hover {
    /* background-color: rgba(255, 255, 255, 0.1); Slightly translucent white background */
    color: var(--purple-accent); /* Change text color */
}

.musicCoverMenuTitleText.active {
    display: flex;
    flex-direction: column;
    color: var(--purple-accent); /* Change text color */
    background-color: transparent;
    background: transparent;
    border: 0;
    border-radius: 10px;
    font-family: "Lexend Exa";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
    padding-bottom: 0px;
    /* background-color: aqua; */
}

.titleHr {
    display: block;
    height: 3px; /* Set the height of the line */
    /* margin: 0.5em 1rem; Set the top, bottom, left, and right margins */
    margin-bottom: 0;
    margin-top: 0;
    border: none; /* Remove any default border */
    width: 60%;
    background-color: var(--purple-accent); /* Use the desired solid color */
    transition: transform 0.3s ease; /* Add transition for smooth sliding */
}

.menuDivider{
    width: 90%;
    margin-top: 0;
    border-style: solid;
    border-width: 0px 0px 2px 0px; 
    border-bottom-color: white;
    background: none;
}

.pageButtonAndLine {
    display: flex;
    flex-direction: column;
    position: relative; /* Ensure relative positioning for the container */
    align-items: center;
    width: 50%;
}


@media screen and (min-width: 830px) {
    .titleContainer{
        height: 15rem;
    }
    .imageGridArt{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-row-gap: 1rem;
        grid-column-gap: 1rem;
    }
    
    .artImage {
        object-fit: cover;
        width: 100%;
        height: auto;
        flex-shrink: 0;
        border-radius: 10px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .imageGridCover{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        justify-content: center;
        width: 93%; 
        /* background-color: #d5a6ed; */
        align-self: center;
    }

    .coverImageAndText {
        font-family: "Lexend Exa";
        font-size: 19px;
        font-weight: bold;
        /* background-color: #B2B2B2; */
    }
    
    .coverImage {
        object-fit: cover;
        width: 20rem;
        flex-shrink: 0;
        border-radius: 10px;
        background: none; /* Remove the background property or set it to none */
        margin: 0; /* Ensure there is no margin around the image */
        padding: 0; /* Ensure there is no padding around the image */
        /* background: lightgray; */
    }


}